*{
  margin :0;
  padding: 0%;
}
body {
  background-color: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.div1{
  margin: 30px;
}

hr {
margin-bottom: 20px;

}
main {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  padding: 24px;
  text-align: center;
}

main h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

main p {
  color: #606770;
  font-size: 16px;
  

}

.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#sec2{
   flex-direction: column;
}

select {
  background-color: #e4e4e4;
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px;
  width: 130px;

}
.select{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.div2{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.p{
  text-align: start;
  margin: 10px 0 ;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  font-size: 15px;
  width: 422px;
  margin-bottom: 8px;
}

input:focus ,select:focus{
 outline-color: black;
}

label {
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  font-size: 12px;
  padding: 10px;
  width: 110px; 
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #1877f2;
}

a:hover{
  text-decoration: underline;
  
}
.en{
  text-align: start;
  line-height: 1.5;
}


.signup {
  width: 80%;
  background-color: #42b72a;
  color: white;
  font-weight: bold;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  padding: 12px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  main {
    width: 65vw;
  }
  .select{
    flex-direction: column;
    gap: 10px;
} 
  .sec1{
    flex-direction: column;
  }
  .div2{
   flex-direction: column;
   gap: 5px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
  }
  select{
    width: 100%;
    
  }
  label{
    width: 50%;
  }
  
}